.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Princess+Sofia&display=swap');
@font-face {
    /*   font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
      url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),   
    url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg"); */
    font-weight: normal;
    font-style: normal;
}
/* =======================================================
*    import url('https://fonts.googleapis.com/css?family=Anton');
* 	Template Style 
*	Edit this section
*
* ======================================================= */

html, body {
    width: 100% !important;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: black;
    height: 100% !important;
    position: relative;
}

/*# React specific */
#app {
    max-width: 100%;
    margin: 0 auto;
}

.inputFont40 {
    font-size: 30px !important;
    font-weight: bold;
    letter-spacing: 10px;
    color: darkblue;
    padding: 0;
    height: 40px !important;
}

.inputFont20 {
    font-size: 20px !important;
    font-weight: bold;
    letter-spacing: 1px;
    color: darkblue;
    padding: 0;
    height: 25px !important;
}


.inputFont20 {
    font-size: 21px !important;
    font-weight: bold;
    letter-spacing: 2px;
    color: darkblue;
    padding: 0;
    height: 40px !important;
}

hr {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
.noPadding {padding-left:0px !important;}
.padd2 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 20px !important;
}

.greenColor {
    color: #34421E;
}


.tempFontPrincess {
    font-family: 'Princess Sofia', cursive;
}

.tempFontOpenSans {
    font-family: 'Open Sans', sans-serif;
}

.height100Percent {
    height: 100% !important;
    min-height: 100% !important;
}

.height50Percent {
    height: 50% !important;
    min-height: 50% !important;
}

.sizeTest {
    color: white;
}

.topPadBig {
    padding-top: 315px;
}

.topPadSmall {
    padding-top: 155px;
}

.font72{font-size: 200px ;}

.learningBox {
    height: 260px !important;
    position: relative !important;
    border-bottom: 1px solid grey;
    padding-top: 10px;
}

/**Background colors**/
.bga1 {
    background-color: #3c5e71;
}
.bga2 {background-color: #849531;}
.bga3 {background-color: #92A332;}

.bgb1 {background-color: #D56C2C;}
.bgb2 {background-color: #22223A;}

.bgc1 { background-color: #e7fc7a;}
.bgc2 {background-color: #C19434;}
.bgc3 {background-color: #34421E;}

.bg1k {  background-color: #324e5e;}
.bg2k{background-color: #e3e3e3;}
.bg3k{background-color: #BC986A;}
.bg4k{background-color: #5CDB95;}
.bg5k{background-color: #5d5c61;}
.bg6k{background-color: #7395AE;}
.bg7k{background-color: #501B1D;}
.bg8k{background-color: #64485C;}
.bg9k{background-color: #950740;}
.bg10k{background-color: #C3073f;}
.bg11k{background-color: #45A29E;}
.bg12k{background-color: #C5C6C7;}
.bg13k{background-color: #116466;}
.bg14k{background-color: #44318D;}
.bg15k{background-color: #59253A;}
.bg16k{background-color: #78244c;}
.bg17k{background-color: #895061;}
.bg18k{background-color: #0677A1;}
.bg19k{background-color: #2D4159;}

/*#e9fc7a  https://www.colorhexa.com/aac705https://www.colorhexa.com/d5f906  */
.navBarBG { background-color: #e9fc7a !important;}
.footerHeight{min-height: 50px !important;}

.bgImg1 {
    background-image: url(./imgs/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bgImg2 {
    background-image: url(./imgs/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gameWidth{ height: 25px !important;}
.height630px { min-height: 630px;}
.height315px { min-height: 315px;}
.classNoShow{}
.ftTimerWidh {width: 100%}
.padTop5 {padding-top: 5px !important;}
.numberOne{
    position: relative;
    z-index: 0;
    
}
.numberTwo {
    position: relative;
    z-index: 1;
    margin-left: -14px !important;
}

.buttW30 {
    width: 65px !important;
    position: relative;
}

.buttW50 {
    position: relative;
    width: 50px !important;
}

.h100 {
    height: 102vh !important;
}

.h100Min {
    min-height: 101vh !important;
}

.hP100{
    height: 100% !important;
}

.wP100 {
    width: 100% !important;
}

.alignCenter {
    max-width: 1200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.wP100 {
    max-width: 100% !important;
    position: relative !important;
    clear: both !important;
    display: block !important;
}

/**Version2 with new home page**/

.bgImg3 {
    background-image: linear-gradient(rgba(0, 0, 0,   0.5), rgba(0, 0, 0,  0.5)),  url(./imgs/mainPage1.jpg);
    height: 93vh !important;
    width: 100vw !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/**#2a3132   */
.bgImg4 {
    background-color: #2a3132;
    min-height: 100vh !important;
    width: 100vw !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
/*#07575b   #003b46*/
.bgImg5 {
    background-color: #E8E8E8;
    min-height: 100vh !important;
    width: 100vw !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bgImg6 {
    background-color: #0c374d;
    min-height: 100vh !important;
    width: 100vw !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.gameBox {
    min-height: 35vh !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.game1Box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imgs/gamebox1.jpg);
    max-width: 780px !important;
    min-height: 35vh !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.game2Box {
    background-color: brown;
    max-width: 780px !important;
    min-height: 35vh !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.game3Box {
    background-color: #755139;
    max-width: 780px !important;
    min-height: 35vh !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.game4Box {
    background-color: brown;
    max-width: 780px !important;
    min-height: 35vh !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.game5Box {
    background-color: brown;
    max-width: 780px !important;
    min-height: 35vh !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.circleButt{
    height:45px !important;
    width: 45px !important;
    border: 2px solid white !important;
    padding-left: 5px !important;
}

.circleButtGame1 {
    height: 45px !important;
    width: 145px !important;
    border: 2px solid white !important;
    padding-left: 5px !important;
}


.siteTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.siteTitle div {
        color: #fff;
        font-size: 100px;
        font-family: 'Century Gothic';
    }

navbar a {    color: white !important; }

.nav-item a {
    color: white !important;
    padding: 5px 20px;
    transition: 0.7s ease;
}
.nav-item a:hover {
   background-color: #fff;
   color: black !important;
}
.headBG {
    background-color: #597272;
}
.centuryFont {font-family: 'Century Gothic';}
.boxAlign {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.shadBlack {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textCenter {
    position: relative;
    padding-top: 25%;
}

.verticalAlign{
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.verticalAlignPadd {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.bottom-fixed{
    width: 100% !important;
    border-top: 1px solid grey;
    position: absolute;
   bottom: 0;
   right: 0;
}
/************************************media */
@media (max-width: 575px) {
    .sizeTest{color: black;}
    .height630px{ min-height: 430px;    }
    .topPadBig { padding-top: 215px;}
    .topPadSmall { padding-top: 107px;}
    .classNoShow {  display: none !important; }
    .pad60 {
        margin-top: 20px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .sizeTest{color: deeppink;}
    .height630px{ min-height: 430px; }
    .topPadBig { padding-top: 215px;}
    .topPadSmall { padding-top: 107px;}
    .classNoShow { display: none !important;}
    .pad60 { margin-top: 20px !important;   }
    }

@media (min-width: 768px) and (max-width: 991px) {
    .sizeTest{color: blue;}
    .classNoShow {
        display: none !important;
    }
    .pad60{ margin-top: 30px !important; }
    }

@media (min-width: 992px) and (max-width: 1199px) {
.sizeTest{color: yellow;}
    .classNoShow {
        display: none !important;
    }
    .pad60 {    margin-top: 30px !important;}
}

@media (min-width: 1200px) {
    .pad60 { margin-top: 40px !important; }
}

/*end of media query*/
